<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href={{ url_for( 'static', filename='style.css' ) }} />
    <script type="text/javascript" src="/static/script.js"></script> 
</head>

<body>
    <h1>What's being reported about {{ topic }}?</h1>
    <label for="search">search here</label>
    <input type="text" id="PUT_INPUT_ID_HERE" name="PUT_INPUT_ID_HERE"/>
    <button id= "Mine"> My submit button lolol. </button>
    

    <div class='container' id="init_arts">
        {% for i in range(10) %}
        <div class='item'>
            <p><b>{{ headlines[i] }}</b></p>
            <p>{{ snippets[i] }}</p>
        </div>
        {% endfor %}
    </div>

</body>

</html>
